.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;


}

.btn{
  width: 35px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  
}
.input{

  height: 30px;
  border-radius: 20px;
  color: red;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  
}
.input-2{
  height: 30px;
  border-radius: 20px;
  text-align: center;
}
